<section id="home" class="hero">
  <div class="hero-container">
    <div class="hero-content">
      <h1 class="hero-title">{{ translationService.translate("hero.greeting") }}</h1>
      <h2 class="hero-subtitle">{{ translationService.translate("hero.title") }}</h2>
      <p class="hero-description">
        {{ translationService.translate("hero.description") }}
      </p>
      <div class="hero-buttons">
        <a href="#projects" class="btn btn-primary">{{ translationService.translate("hero.viewProjects") }}</a>
        <a href="#contact" class="btn btn-secondary">{{ translationService.translate("hero.contact") }}</a>
      </div>
    </div>
    <div class="hero-image">
      <div class="hero-avatar">
        <img src="../../../../assets/imageResources/chaqueta_negra.jpeg" alt="Profile" class="profile-image" style="width: 100%; height: 100%; border-radius: 50%; object-fit: cover;">
      </div>
    </div>
  </div>
</section>
